@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

body {
  /* Background pattern from Subtle Patterns */
  background-image: url('img/background.svg');
  background-repeat: repeat-x;
  background-color: #fafafa;
}

h1,
h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.logo {
  height: auto;
  margin-bottom: 30px;
}

.greeting {
  margin-top: 15%;
}

.coming-soon {
  font-weight: bold;
  font-size: 300%;
}

@media (max-width: 600px) {
  .logo {
    height: auto;
  }
  .coming-soon {
    font-size: 200%;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 60%;
  }
  .coming-soon {
  }
}
