@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
   50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  background-color: #080707;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image:
    url('img/background.png');
  background-size: cover;
  background-size: 200%;
  animation: panning 50s infinite linear;
  filter: blur(3px);
  z-index: -1;
}


.logo {
  content: url('img/logo-inverse.png');
  padding-top: 200px;
  height: 70%;
  width: 70%;
  z-index: 2;
}
